<ion-header>
  <ion-toolbar>
    <ion-title>
      Hello {{ firstName }} tu as {{age}} ans.
    </ion-title>
    <ion-back-button text="retour"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Montant en euros</ion-label>
    <ion-input type="text" [(ngModel)]="montant"></ion-input>
  </ion-item>
  <ion-item>
    <p>{{montant*124.95 | currency:'JPY':true:"2.1-2"}}</p>
  </ion-item>
  <p>{{ personne.name }}</p>
  <p>{{ personne.address }}</p>
  <p>{{ personne.country }}</p>
  <ion-button color="{{buttonColor}}" size="large" expand="block" (click)="changeName()">

    <ion-icon name="mic"></ion-icon>IONIC
  </ion-button>
  <!--Implémenter icone-->
  <ion-icon name="person"></ion-icon>
  <ion-icon name="person-add"></ion-icon>
  <ion-icon name="people"></ion-icon>
  <!--Création d'une liste-->
  <ion-list *ngIf="displayList">
    <ion-list-header>Formulaire</ion-list-header>
    <ion-item>
      <ion-label position="floating">Nom</ion-label>
      <ion-input type="text" [(ngModel)]="firstName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Ajouter fuits</ion-label>
      <ion-input type="text" [(ngModel)]="newFruit"></ion-input>
    </ion-item>

    <!--En têtes de la liste-->
    <ion-list-header>fruits</ion-list-header>

    <ion-item>
      <ion-thumbnail item-left> <img src="/assets/img/apple.png"> </ion-thumbnail>pommes
    </ion-item>
    <ion-item>
      <!--Affiche l'image en avatar-->
      <ion-avatar slot="start">
        <!--Affiche l'img en début de ligne-->
        <ion-img src="/assets/img/pores.jpg"></ion-img>
      </ion-avatar>poires
    </ion-item>

    <ion-item *ngFor="let item of fruitList">{{item}}</ion-item>

  </ion-list>
  <ion-list>
    <!--grille type bootstrap-->
    <ion-grid>
      <ion-row>
        <ion-col size="8">
          <ion-button expand="block">bt</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block">bt</ion-button>
        </ion-col>

      </ion-row>
    </ion-grid>
    <ion-item-sliding>
      <ion-item>pommes</ion-item>
      <ion-item-options side="end">
        <ion-button color="danger">Delete</ion-button>
      </ion-item-options>
    </ion-item-sliding>
    <!--Création d'un bouton radio-->

    <ion-radio-group>
      <ion-item>
        <ion-label>Femme</ion-label>
        <ion-radio value="f"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Homme</ion-label>
        <ion-radio value="m"></ion-radio>
      </ion-item>
    </ion-radio-group>

    <ion-item>
      <!--Lsite déroulante-->
      <ion-label position="floating">profession</ion-label>
      <!--Création de la liste, définition des boutons et activation de la multiselection-->
      <ion-select cancelText="NOOOO" okText="YES!" multiple="true">
        <ion-select-option>Développeur</ion-select-option>
        <ion-select-option>Graphiste</ion-select-option>
        <ion-select-option>Chef de projet</ion-select-option>
        <ion-select-option selected>Architecte</ion-select-option>
      </ion-select>
    </ion-item>

    <p>{{fruitList[0]}}</p>
    <ion-item>
      <ion-label>Age</ion-label>
      <ion-range min="7" max="20" pin="true" step="2" snaps="true" dual-knobs="true"></ion-range>
    </ion-item>
  </ion-list>
</ion-content>



<ion-footer>
  <ion-toolbar>
    <ion-title>copyright c'est à mmmoi!</ion-title>
  </ion-toolbar>

</ion-footer>